# Ignore Terraform local state and caches
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars

# Ignore Terraform provider binaries
terraform-provider-*
terraform

# Ignore system files
.DS_Store

